@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url("animation.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font: "montserrat", sans-serif;
    --second-font: 'Open Sans', sans-serif;
}

body {
    background-color: #dedede;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.container-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem;
}

.nav-link {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--main-font);
    font-size: 0.8rem;
    color: #eaeaea;
    border: #252525 1px solid;
    background-color: #252525;
    transition: 0.5s;
}

.nav-link:hover {
    background-color: #000;
    color: #fff;
    transition: 0.5s;
}

.dayProject {
    font-family: var(--main-font);
    font-size: 1rem;
    margin: 0rem 2rem;
}

#logoWelcome {
    height: 10rem;
    width: 17rem;
    animation: spin 5s infinite alternate alternate;
}